<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>

<script th:src="@{/jquery/jquery.min.js}"></script>  
      <script th:src="@{/bootstrap/bootstrap.min.js}"></script> 
      <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
      
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" type="text/css">
<title>File Upload / Download</title>

 <style>
 table  {border-width : 5px;
         font-family: arial,sans-serif }
         .btn1 {
          background-color: #0c8be2;
         margin-left: 720px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 8px;
         }
         
   p {text-align: center;}
 </style>
 
</head>

<body>
  
   
   
 


   
    <h3 style="text-align:center;">Мои дисциплины</h3>
 <div sec:authorize="hasRole('ADMIN')">
 <form th:action="@{/}" method="GET">  
    <div class="table-responsive" align = "center">          
  <table class="table table-bordered">
    
   <tr class="success">
    <th>Название дисциплины</th>
    <th>Изменить дисциплину</th>
    <th>Удалить дисциплину</th>
    <th>Страница предмета</th>
  </tr>
  <tr th:each="s,iter: ${subjects}">
    <td th:text="${s.subjName}"></td>
    <td><a th:href="@{/edit/{id}(id=${s.id})}"
                                              class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>Изменить
                                    </a></td>
    <td><a th:href="@{/del/{id}(id=${s.id})}"
                                              class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>Удалить
                                    </a></td>
    <td><a th:href="@{/jump/{id}(id=${s.id})}"
                                              class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>Перейти
                                    </a></td>
  </tr>
 
</table>
 </div>
 </form>
 </div>
 
 <!--  <div sec:authorize="hasRole('ADMIN')">
<form th:action="@{/}" method="GET">  
    <div class="table-responsive" align = "center">          
  <table class="table table-bordered">
    
      <tr class="success">
        
        <th>Название</th>
        <th>Изменить</th>
        <th>Удалить<th>
        <th>Перейти<th>
      </tr>
      <tr>
        <td>erger</td>
        <td>wefew</td>
        <td>wergre</td>
        <td>ergreg</td>   -->
                                    
     
      <!--    <td th:if = "${not #lists.isEmpty(array) and array.length==subjects.size()}" 
         th:text="${array[__${iter.index}__]}"></td>
      
      <td th:if = "${not #lists.isEmpty(firstDeadLine) and firstDeadLine.length==subjects.size()}" 
         th:text="${firstDeadLine[__${iter.index}__]}"></td> 

    -->
<!--       </tr>                               
                   
                                                                                         
  </table>
 
  </div>
    </form>  
    </div>
 -->
 
 



 


 
 

 <div sec:authorize="hasRole('USER')">   
  <form th:action="@{/}" method="GET">  
    <div class="table-responsive" align = "center">          
  <table class="table table-bordered">
    <thead>
      <tr class="success">
        
        <th>Название дисциплины</th>
        <th>Всего лабораторных</th>
        <th>Ближайший дедлайн</th>
        <th>На страницу</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each="subj : ${subjects}">
    
      
       
        <td th:text="${subj.subjName}"></td>
           <td th:text="${countLabs}"></td>
           <td th:text="${dateSoon}"></td>   
        <td><a th:href="@{/jump/{id}(id=${subj.id})}"
                                              class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>Перейти
                                    </a></td>
      </tr>
       
    </tbody>
    
  </table>
  </div>
    </form>  
    </div>
    
<div>
 <form th:action="@{/subject}" method="post">
             <p>Название: <input type = "text" name="subjName" /></p>
  <button type="submit" class ="btn1">Выйти на страницу предмета</button>
        </form>
<!--<ul th:each="subject : ${subjects}">  
</ul>-->
</div>
<br></br>
<div sec:authorize="hasRole('ADMIN')">
      <form th:action="@{/s_add}" method="POST">
  <p>Название: <input type = "text" align="center" name="subjName" /></p>
  <!--  <p>Группа: <input type = "text"  align="center"name="prefix" /></p>-->
  <button type="submit" class="btn1">Создать дисциплину</button>
</form>   
 </div>
 
<br></br>
                    
     <form th:action="@{/logout}" method="post">
            <input type="submit"  class="btn1" value="Выход"/>
        </form>
                    


</body>
</html>