<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" type="text/css">
<title>Insert title here</title>

 <style>
 table  {border-width : 5px;
         font-family: arial,
         sans-serif }
.primary submit-btn {
          background-color: #0c8be2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 8px;
         }
         
  .btn1 {
          background-color: #0c8be2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
   font-size: 15px;
  border-radius: 8px;
         }
         
   p {text-align: center;}
 </style>

</head>
<body>
 
 
   
<!--  <div sec:authorize="hasRole('ADMIN')">-->

<table>
    <tr th:each="s : ${subject}"> 
         <!--  <td th:text="${s.subjName}"></td>-->
        <td><a th:href="@{/upload/{id}(id=${s.id})}"
                                              class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>Установить лабу
                                    </a></td>
                               
       </tr>
          


</table>
 
                  
 <br></br>                   
 </div>  
 
<!--   <div sec:authorize="hasRole('ADMIN')"> -->

 
 

<br></br>

<!--  <h3 style="text-align:center;">Все файлы 2го курса 5ой группы</h3>

<form th:action="@{/s_u_2Course}" method="GET">
  <div class="table-responsive">          
  <table class="table table-bordered" align = "center">
    <thead>
      <tr class="success">
        
        <th>Студент</th>
        <th>Группа</th>
        <th>Ссылка файла</th>
      </tr>
    </thead>
  <tbody>
  <tr th:each="r : ${res2}">
  <td th:text="${r.user.username}"></td>
   <td th:text="${r.user.course}"></td>
     <td> <a th:href="${r.downloadURL}"class="btn btn-primary">
                                        Скачать</a></td> 
     
      
      </tr>
  </tbody>
  </table>
    <button type="submit" class ="btn1">Показать</button>
</form> 

<h3 style="text-align:center;">Все файлы 3го курса 5ой группы</h3>

<form th:action="@{/s_u_3Course}" method="GET">
<div class="table-responsive">          
  <table class="table table-bordered" align = "center">
    <thead>
      <tr class="success">
        
        <th>Студент</th>
        <th>Группа</th>      
        <th>Ссылка файла</th>
        
      </tr>
    </thead>
  <tbody>
  <tr th:each="r : ${res3}">
   <td th:text="${r.user.username}"></td>
   <td th:text="${r.user.course}"></td>
      <td> <a th:href="${r.downloadURL}"class="btn btn-danger">
                                       Скачать</a></td>


         
       
      </tr>
  </tbody>
  </table>
    <button type="submit" class = "btn1">Показать</button>
</form> 
 </div>
 
 


  <div sec:authorize="hasRole('USER')">
  <h3 style="text-align:center;">Все Лабораторные работы</h3>

    <div class="table-responsive">          
  <table class="table table-bordered">
    <thead>
      <tr class="success">
        
        <th>Название Лабораторной работы</th>
        <th>Ссылка файла</th>
        <th>Дедлайн</th>
        <th>Перейти</th>
      </tr>
    </thead>
   <tbody>
  <tr th:each="file : ${files}">
      <td th:text="${file.fileName}"></td>
        <td> <a th:href="${file.downloadURL}"class="btn btn-primary">
                                        Скачать</a></td>
        <td th:text="${file.deadL}"></td>
        
        <td><a th:href="@{/uploadStud/{id}/(id=${file.id})}"
                                              class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>Загрузить задание
                                    </a></td>
   
      </tr>   
  </tbody>
  </table>
  </div>

</div>
  
  </div>  -->                                
                                    
                                    

<h3 style="text-align:center;">Все Лабораторные работы</h3>

    <div class="table-responsive">          
  <table class="table table-bordered">
    <thead>
      <tr class="success">
        
        <th>Название Лабораторной работы</th>
        <th>Ссылка файла</th>
        <th>Дедлайн</th>
      </tr>
    </thead>
   <tbody>
   <tr th:each="file : ${files}">
      <td th:text="${file.fileName}"></td>
        <td> <a th:href="${file.downloadURL}"class="btn btn-primary">
                                        Скачать</a></td>
        <td th:text="${file.deadL}"></td>
      </tr>   
  </tbody>
  </table>
  </div>
 
</div>
<br></br>
<a th:href="@{/index}">Назад</a>

</body>
</html>